body {
  background: #FCFBF9;
}
.text-center {
  text-align: center;
}
.brown-color{
  color:#361E1E;
}
.container-header {
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 28px;
  color:#ffffff;
}
.orange-color {
  background:#F8633B;
}
.button-one{
  background:#361E1E;
  color: #FCFBF9;
}
.button-two{
 color: #361E1E;
 background:#FCFBF9;
}
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
